<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         metadata-complete="true">

  <display-name>web.xml for my spring mvc app done in clojure</display-name>
     
  <!-- ===================================================== -->
  <!--  1. Create root context with spring listener          -->
  <!--     Remove this means only use servlet contxt         -->
  <!-- ===================================================== -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  
    <!-- ===================================================== -->
    <!-- Can modify default root context config file           -->
    <!-- ===================================================== -->
    <!-- 
    <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    -->
  </listener>
 
 
  <!-- ===================================================== -->
  <!--  2. Define servlet with private context               -->
  <!-- ===================================================== -->
  <servlet>
    <servlet-name>springapp-clj</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!-- ================================================= -->
    <!-- Set contextConfigLocation to empty                -->
    <!-- means only use root context.                      -->
    <!-- BeanNameUrlHandlerMapping will be used by default -->
    <!-- for mapping between URL and page controller(      -->
    <!-- the ones you write)                               -->
    <!-- ================================================= -->
    <!--
      <init-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>springapp-clj-servlet.xml</param-value>
      </init-param>
    -->
    <load-on-startup>1</load-on-startup>
  </servlet>
  <!-- ===================================================== -->
  <!-- One servlet, the dispatcher, to rule it all           -->
  <!-- ===================================================== -->
  <servlet-mapping>
    <url-pattern>/static/*</url-pattern>
    <servlet-name>springapp-clj</servlet-name>
    <url-pattern>/clojure</url-pattern>
    <url-pattern>/clojure/inventory</url-pattern>
    <url-pattern>/clojure/shell/*</url-pattern>
    <url-pattern>/clojure/priceincrease/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>
      index.jsp
    </welcome-file>
  </welcome-file-list>

  <jsp-config>
    <taglib>
      <taglib-uri>/spring</taglib-uri>
      <taglib-location>/WEB-INF/tld/spring-form.tld</taglib-location>
    </taglib>
  </jsp-config>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>

</web-app>
